<div class="IndexLink">
    <div class="IndexLinkBody">
        <div class="IndexLinkLEft">
            <div class="title">
                友情链接
            </div>
        </div>
        <div class="IndexLinkRight">
            <a href="http://www.51dfc.com" target="_blank">东风天锦自卸车</a>
            <a href="http://www.dfc123.com" target="_blank">东风大力神自卸车</a>
            <a href="http://www.dfc1688.com" target="_blank">东风自卸车</a>
            <a href="http://www.xmx12345.com" target="_blank">十堰装饰公司</a>
            <a href="http://www.sykeji.com" target="_blank">十堰网站建设</a>
            <a href="http://www.365ymw.com" target="_blank">源码商城</a>
        </div>
        <div class="Indeexmenue">
            <a href="/">首页</a> |
            <a href="/jianshe/">网站建设</a> |
            <a href="/case/">经典案例</a> |
            <a href="/service/">服务范围</a> |
            <a href="/news/">新闻观点</a> |
            <a href="/client/">服务客户</a> |
            <a href="/about/">关于我们</a>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footers">
        公司地址：上海市国贸酒店 联系电话：0371-88888888 （上班时间：星期一至星期六） 传真：0371-88888888 上海织梦CMS网络科技有限公司！技术支持
        <a href="http://www.dedecms.com">织梦CMS</a>&copy; 版权所有 ZonTenNetwork All Rights Reserved 豫ICP备12345678号
    </div>
</div>
<style>
    .WeBodyHp{ height:auto}
    .WeBodyHp,.WeBodyHp li{ overflow:hidden}
</style>
<a class="bshareDiv" href="http://www.bshare.cn/share">分享按钮</a>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#uuid=&amp;style=3&amp;fs=4&amp;textcolor=#fff&amp;bgcolor=#F60&amp;text=分享到"></script>
</body>
</html>