<div class="clear"></div>
<div class="bottoms"></div>
<div class="ZyFooter">
    <div class="ZyFooterMenus">
        <a href="/">首页</a> |
        <a href="/jianshe/">网站建设</a> |
        <a href="/case/">经典案例</a> |
        <a href="/service/">服务范围</a> |
        <a href="/news/">新闻观点</a> |
        <a href="/client/">服务客户</a> |
        <a href="/about/">关于我们</a>
    </div>
</div>
<div class="footer">
    <div class="footers">
        公司地址：海南市二七区 联系电话：0371-88888888 （上班时间：星期一至星期六） 传真：0371-88888888 上海织梦CMS网络科技有限公司！技术支持
        <a href="http://www.dedecms.com">织梦CMS</a>&copy; 版权所有 ZonTenNetwork All Rights Reserved 豫ICP备12345678号
    </div>
</div>
<a class="bshareDiv" href="http://www.bshare.cn/share">分享按钮</a>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#uuid=&amp;style=3&amp;fs=4&amp;textcolor=#fff&amp;bgcolor=#F60&amp;text=分享到"></script>
</body>
</html>